<app-profile-card
  *ngIf="profile != null"
  [profile]="profile"
  [isCurrentUser]="isCurrentUser"
  [currentUser]="currentUser"
></app-profile-card>

<div class="tab-wrapper">
  <tabset>
    <tab heading="Catalogs" id="catalogsTab" (select)="onSelect($event)">
      <div class="row">
        <div class="col-md">
          <h2 class="section-title">User Catalogs:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-catalog-list></app-catalog-list>
        </div>
      </div>
    </tab>
    <tab heading="Books" id="booksTab" (select)="onSelect($event)">
      <div class="row">
        <div class="col-md">
          <h2 class="section-title">
            User added books:
          </h2>
          <div class="alert alert-warning" role="alert" *ngIf="bookNumber == 0">
            There are no books added by this user.
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-sm-6 col-md-3 col-xs-12"
          *ngFor="let book of userBooks; let i = index"
        >
          <div class="book-card-wrapper">
            <app-book-card-item [book]="book"></app-book-card-item>
          </div>
        </div>
      </div>
    </tab>
    <tab
      heading="Preferences"
      id="preferencesTab"
      (select)="onSelect($event)"
      *ngIf="isCurrentUser"
    >
      <div class="row">
        <div class="col-md">
          <h2 class="section-title">
            Select your favorite categories:
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <ul class="list-group">
            <li
              class="list-group-item"
              [ngClass]="pref.isSelected === true ? 'selected' : 'not-selected'"
              *ngFor="let pref of defaultBookCategoryPreferences; let i = index"
              (click)="
                togglePreferences(pref.catalogId, pref.name, pref.isSelected)
              "
            >
              {{ pref.name }}
            </li>
          </ul>
        </div>
      </div>
    </tab>
  </tabset>
</div>
