.tab-wrapper {
  margin-top: 50px;
}

.nav-link span {
  font-size: 20px;
}

.section-title {
  font-size: 28px;
  margin: 20px 0;
}

.alert-warning {
  margin: 20px 20px 20px 0;
}

.selected {
  background-color: #6ca04b;
  color: white;
}

.not-selected {
  background-color: transparent;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: #e4e3e3;
  color: black;
}
