<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="{{ profile?.avatarPath }}"
          alt="{{ profile?.knownAs }}"
        />
        <div class="card-body">
          <h4 class="card-title">{{ profile?.knownAs }}</h4>
          <p>
            <i class="glyphicon glyphicon-map-marker"></i>
            {{ profile?.city }},{{ profile?.country }}
          </p>

          <p class="card-text">{{ profile?.introduction }}</p>
          <button type="button" class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-plus"></span>
            Follow
          </button>
          <hr />
          <div class="social-profiles">
            <button type="button" class="btn">
              <i class="fa fa-facebook-official"></i>
            </button>
            <button type="button" class="btn">
              <i class="fa fa-linkedin-square"></i>
            </button>
            <button type="button" class="btn">
              <i class="fa fa-twitter-square"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8"></div>
  </div>
</div>
