<div class="card-wrapper">
  <a [routerLink]="['/books/details', book?.friendlyUrl]">
    <div class="book-title" title="{{ book?.title }}">
      {{
        book?.title.length > 18
          ? (book?.title | slice: 0:18) + "..."
          : book?.title
      }}
    </div>
    <div class="text-md-center">
      <img
        src="{{ book?.photoPath }}"
        class="book-cover-image"
        title="{{ book?.title }}"
      />
    </div>
  </a>

  <div class="book-actions-wrapper" *ngIf="book?.bookCatalogs && this.isUserAuthenticated">
    <div class="add-book-to-list">
      <i class="glyphicon glyphicon-plus"></i>
    </div>
    <div class="book-actions">
      <app-book-saver
        [bookId]="book?.id"
        [bookCatalogs]="book?.bookCatalogs"
      ></app-book-saver>
    </div>
  </div>
</div>
