<div class="card-wrapper">
  <a [routerLink]="['/books/details', book?.friendlyUrl]">
    <div class="book-title">{{ book?.title }}</div>
    <div class="text-md-center">
      <img src="{{ book?.photoPath }}" class="book-cover-image" />
    </div>
  </a>

  <div class="book-actions-wrapper">
    <div class="add-book-to-list">
      <i class="glyphicon glyphicon-plus"></i>
    </div>
    <div class="book-actions">
      <app-book-saver [bookId]="book?.id"></app-book-saver>
    </div>
  </div>
</div>
