.category-list {
  margin: 0;
  padding: 0;
  font-weight: bold;

  li {
    list-style-type: none;
    padding: 10px;

    &:hover {
      background-color: gainsboro;
      color: white;
      transition: 0.2s;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
