<div class="header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" routerLink="">
            <img src="https://img.icons8.com/cotton/2x/book.png" width="45" />
          </a>

          <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse"
            [ngClass]="{ show: navbarOpen }"
          >
            >
            <ul class="navbar-nav mr-auto">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/books">Books</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/books/catalogs/0">Catalogs</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/books/discussions">Discussions</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/user/user-list">Users</a>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item" *ngIf="!this.isLoggedIn">
                <a routerLink="/user/sign-up" class="nav-link">
                  <span class="glyphicon glyphicon-user"></span>
                  Sign Up
                </a>
              </li>
              <li class="nav-item" *ngIf="!this.isLoggedIn">
                <a routerLink="/user/login" class="nav-link">
                  <span class="glyphicon glyphicon-log-in"></span>
                  Login
                </a>
              </li>

              <li class="nav-item" *ngIf="this.isLoggedIn">
                <div *ngIf="this.isLoggedIn" class="dropdown" dropdown>
                                   <span class="mr-1">
                    <!-- <img src="{{ photoUrl || '../../assets/user.png' }}" alt="" /> -->
                  </span>
                  <a class="dropdown-toggle text-light" dropdownToggle>
                    <i class="far fa-user-circle"></i> Profile
                  </a>

                  <div class="dropdown-menu mt-3" *dropdownMenu>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/user/profile', this.friendlyUrl]"
                    >
                      <i class="fa fa-user"></i>
                      See Profile
                    </a>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/user/invite-friend']"
                    >
                      <i class="fas fa-thumbs-up"></i>
                      Invite friend
                    </a>
                    <div class="dropdown-divider"></div>
                    <a
                      class="dropdown-item"
                      (click)="this.authService.logout()"
                    >
                      <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
