<div class="container">
  <div class="row">
    <div class="div col-md-2" *ngIf="user != null || user != undefined">
      <a [routerLink]="['/user/profile/', user?.friendlyUrl]">
        <img [src]="user?.avatarPath" class="user-avatar" />
      </a>
    </div>
    <div class="div col-md-10">
      <h2>{{ catalog?.name }}</h2>
    </div>
  </div>

  <div class="row">
    <div
      class="col-sm-4 col-md-2 col-xs-4"
      *ngFor="let item of catalog?.books; let i = index"
    >
      <app-book-card-item [book]="item"></app-book-card-item>
    </div>
  </div>

  <div class="row" style="margin-top:50px;">
    <div class="col-md">
      <pagination
        [totalItems]="this.totalItems"
        [itemsPerPage]="12"
        (pageChanged)="pageChanged($event)"
        [maxSize]="10"
      ></pagination>
    </div>
  </div>
</div>
