.card-wrapper {
  padding: 15px;
  border: 2px solid transparent;
  background-color: #f1f1f1;

  &:hover {
    transition: 0.4s;
    border: 2px solid darkslategrey;
    border-radius: 5px;
    opacity: 1;
  }

  &:hover img {
    opacity: 1;
    transition: 0.2s;
  }

  p {
    font-weight: bold;
  }

  img {
    margin-bottom: 15px;
    opacity: 0.8;
  }

  @media only screen and (max-width: 600px) {


    .card-title {
      text-align: center;
      font-size: 18px;
    }

    .location-info {
      text-align: center;
    }
  }
}
