<div class="div container-wrapper carosel-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Have fun?</h2>
        <h2>Invite your friends here!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <button
          (click)="
            this.sharePage('https://www.youtube.com/watch?v=9iAQeWXGlo0')
          "
          class="main-cta facebook-messanger"
        >
          <i class="fab fa-facebook-messenger"></i>
          Send to a friend
        </button>
      </div>
    </div>
  </div>
</div>

<div class="div container-wrapper info-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h2>Want to find nice books?</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages.
        </p>
      </div>
    </div>
  </div>
</div>
