<div class="container wrapper">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>ДИПЛОМНА РАБОТА</h1>
      <h3>на тема:</h3>
      <h2>„Социална мрежа за любители на книги„</h2>
      <div class="details">
        <strong>Изготвил:</strong> Фанка Бачева, факултетен номер: F75596
        <br />
        <strong>Дипломен ръководител: </strong>гл. ас. д-р Лъчезар Томов
      </div>
      <hr />
      <h3>Системата има следните функционалности:</h3>
      <ul>
        <li>
          Добавяне на книга с възможност за описание, корица, категоризация.
        </li>
        <li>
          Създаване на списъци от книги ( т.нар „social cataloging“) като има
          възможност те да бъдат публични или лични.
        </li>
        <li>Функционалност за следване на други потребители</li>
        <li>Функционалност за поканване на приятели от социалните мрежи</li>
        <li>
          Функционалност за динамично препоръчване на книги на базата на вече
          показани интереси
        </li>
        <li>Възможност за създаване на дискусионни групи</li>
        <li>SEO оптимизирани страници</li>
        <li>
          Open Graph тагове за пълноценно споделяне на съдържанието в социалните
          мрежи
        </li>
      </ul>
    </div>
  </div>
</div>
