<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="books-detail-top">
        <div class="book-header">
          <h3 class="book-title">{{ book?.title }}</h3>
        </div>
        <div class="clearfix"></div>
        <div class="book-cover">
          <div class="book-actions-wrapper" *ngIf="book != undefined">
            <div class="add-book-to-list">
              <i class="glyphicon glyphicon-plus"></i>
            </div>
            <div class="book-actions">
              <app-book-saver
                [bookId]="book?.id"
                [bookCatalogs]="book?.bookCatalogs"
              ></app-book-saver>
            </div>
          </div>
          <img
            src="{{ book?.photoPath }}"
            alt="{{ book?.title }}"
            class="cover"
          />
        </div>
      </div>
      <div class="book-description">{{ book?.description }}</div>
    </div>
    <div class="col-md-4">
      <a
        [routerLink]="['/books/discussions/add/' + book?.id]"
        class="button neutral medium full-width"
      >
        <i class="fas fa-plus-circle"></i>
        Add discussion
      </a>
      <a [routerLink]="['/books/discussions/per-book/' + book?.id]">
        See all discussions
      </a>
      <br />
      <br />
      This book also appears in:
      <app-catalog-list-pure
        [bookCatalogs]="book?.bookCatalogs"
      ></app-catalog-list-pure>
    </div>
  </div>
</div>
