@import "src/app/ui-style/variables.scss";

.books-detail-top {
  // background: #eee;
}

.book-header {
  width: 50%;
  display: inline-block;
  float: left;
}

.book-title {
  font-size: 28px;
  margin-bottom: 30px;
}

.book-author {
}

.book-cover {
  display: inline-block;
  float: left;
  margin: 0 30px 30px 0;
}

.book-description {
  font-size: 16px;
  font-family: $main-font;
}

.book-list-item {
  color: black;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 26px;
  min-height: 800px;

  .caption {
    margin-top: 50px;
  }

  .book-attributes {
    float: left;
    padding: 0 20px 20px 0;
  }

  .book-attributes img {
    margin-bottom: 30px;
  }

  .book-attributes a {
    display: block;
  }
}

//TODO: TEMP styling! DELETE IT!
.button {
  display: block;
  min-width: 330px;
  margin-bottom: 10px;
}

.book-actions-wrapper {
  // color: pink;
}

.book-actions-wrapper {
  & .book-actions {
    display: none;
  }
}

.book-actions-wrapper:hover .book-actions {
  display: block;
  position: absolute;
  right: -65px;
  top: 38px;
}

.add-book-to-list {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0px;
  text-align: center;
  padding-top: 12px;
  box-shadow: 1px 1px 1px grey;
  color: white;
}

.cover {
  width: 170px;
}

.category-list {
  margin: 0;
  padding: 0;
  font-weight: bold;

  li {
    list-style-type: none;
    padding: 10px;

    &:hover {
      background-color: gainsboro;
      color: white;
      transition: 0.2s;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
