$main-font: "Roboto", sans-serif;
$secondary-font: "Roboto Slab", serif;

// $main-color: #FA7268;
// $main-color-darker: #df1507;
$main-color: #0a2c4e;
$main-color-darker: #708090;
$main-highlight: #fa8072;
$light-background: #cd5c5c;
$lighter-background: #cd5c5c;

$white: #fff;
