.section-wrapper {
  padding: 60px 0;

  &.relevance {
    background-color: #FFFCF5;
    margin-top: -60px;
  }
  &.novelty {
    background-color: #E7E4DF;
  }
  &.serendipity {
    background-color: #E2E1D6;
    margin-bottom: -60px;
  }
}
