<div class="container">
  <div class="row">
    <div class="col-md-8"><h2>Books:</h2></div>
    <div class="col-md-4 text-right">
      <a routerLink="add" routerLinkActive="active" class="button action full-width">
        <i class="glyphicon glyphicon-plus"></i>Add Book</a
      >
    </div>
  </div>

  <div class="row">
    <div
      class="col-sm-6 col-md-3 col-xs-12"
      *ngFor="let book of (bookListState | async).books; let i = index"
    >
      <div class="book-card-wrapper">
        <app-book-card-item [book]="book"></app-book-card-item>
      </div>
    </div>
  </div>
</div>
