.item-wrapper {
  padding: 20px 5px;
  border-bottom: 1px solid gainsboro;

  &:hover {
    background-color: gainsboro;
    cursor: pointer;
    transition: 0.2s;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.book-link {
  text-decoration: underline;
}

.small-text {
  font-size: 14px;

  & a {
    text-decoration: italic;
  }

  .fas {
    margin-right: 10px;
  }
}
