<div class="container">
  <div class="row">
    <div class="col-md">
      <h2>
        Discussions for book
        <a
          [routerLink]="['/books/details/' + bookFriendlyUrl]"
          class="book-link"
        >
          {{ bookTitle }}
        </a>
      </h2>
    </div>
  </div>
  <div *ngIf="discussions.length == 0">
    <div class="alert alert-info" role="alert">
      No discussions for this book.

      <a
        [routerLink]="['/books/discussions/add/' + bookId]"
        class="button neutral medium add-discussion-btn"
      >
        <i class="fas fa-plus-circle"></i>
        Add discussion
      </a>
    </div>
  </div>
  <div class="row item-wrapper" *ngFor="let item of discussions">
    <div class="col-md-8">
      <a [routerLink]="['/books/discussions/details/' + item.friendlyUrl]">{{
        item.title
      }}</a>
    </div>
    <div class="col-md-4" class="small-text">
      {{ item.addedOn | date: "medium" }}
      <br />
      <i class="fas fa-book"></i>
      <a [routerLink]="['/books/details/' + bookFriendlyUrl]">{{
        item.bookTitle
      }}</a>
    </div>
  </div>
</div>
