<div class="row">
  <div class="col-md">
    <h2>Select your 5 favorite book categories:</h2>
    <br />
  </div>
</div>

<div class="row">
  <div
    class="col-md-3 col-6"
    *ngFor="let item of bookCategories"
    (click)="selectPreferences(item)"
  >
    <div
      class="category-wrapper"
      [ngClass]="[item.isSelected ? 'selected' : 'not-selected']"
    >
      <i
        class="category-icon fas fa-user-astronaut"
        *ngIf="item.iconPath == null"
      ></i>
      <i
        class="category-icon {{ item.iconPath }}"
        *ngIf="item.iconPath !== ''"
      ></i>

      <br />
      <span class="category-name"> {{ item.name }}</span>

      <div class="selected-icon">
        <i class="fas fa-check-circle"></i>
      </div>
    </div>
  </div>
</div>

<div class="row row-footer">
  <div class="col-md-8">
    <p class="warning-message" *ngIf="isMoreThan5AreSelected">
        <i class="fas fa-exclamation-circle"></i>  Please select exactly 5 favorites categories.
    </p>
  </div>
  <div class="col-md-4">
    <button
      class="button primary large full-width pull-right"
      type="submit"
      [disabled]="!enableSubmitting"
      (click)="sendCategoriesPreferences()"
    >
      Continue
    </button>
  </div>
</div>
