<div class="div container-wrapper carosel-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Book lover?</h2>
        <h2>Find the loved one here!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <button class="main-cta" routerLink="/books">Explore</button>
      </div>
    </div>
  </div>
</div>

<div class="div container-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h2>Want to find nice books?</h2>
        <p>
          A social cataloging application is a web application designed to help
          users to catalog things—books, CDs, etc.—owned or otherwise of
          interest to them. The phrase refers to two characteristics that
          generally arise from a multi-user cataloging environment:
        </p>
        <p>
          The ability to share catalogs and interact with others based upon
          shared items;
        </p>
        <p>
          The enrichment or improvement of cataloging description through either
          explicit cooperation in the production of cataloging metadata or
          through the analysis of implicit data.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="div container-wrapper book-preview-wrapper" *ngIf="this.isAuthenticated">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h2>Which is your favorite one?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-6" *ngFor="let book of bookList">
        <div class="card-wrapper">
          <a [routerLink]="['/books/details', book?.friendlyUrl]">
            <img
              src="{{ book?.photoPath }}"
              class="book-cover-image"
              title="{{ book?.title }}"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="div container-wrapper cta-wrapper" *ngIf="!this.isAuthenticated">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h2>Make an account</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </p>
        <div class="row">
          <div class="col-md">
            <button class="main-cta" routerLink="/user/sign-up">Sign up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
