@import "src/app/ui-style/variables.scss";

.card-wrapper {
  margin: 10px auto;
  border: 1px solid #868484;
  box-shadow: 1px 1px 1px #e2e0e0;
  border-radius: 5px;
  padding: 0 0 15px 0;
  // min-height: 540px;

  .card-link {
    color: white;
  }

  &:hover {
    box-shadow: 1px 7px 10px 2px grey;
    transition: 0.3s;
  }
}

.header-wrapper {
  background-color: black;
  padding: 5px 15px;
  display: block;
  color: $white;
  background-color: #3e3b3b;
  margin: 0 0 20px 0;
  cursor: pointer;
}

.card-link {
  &:hover {
    transition: 0.2s;
    color: $white;
  }

  &.see-more {
    border-radius: 50%;
    height: 50px;
    position: absolute;
    width: 50px;
    top: 110%;
  }
}

.book-thumbnail {
  margin: 5px;
}

.book-thumbnail-more {
  color: black;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
  font-size: 25px;
  border-radius: 50%;
  position: relative;

  &:hover {
    color: white;
    transition: 0.2s;
    cursor: pointer;
  }

  .more-info-icon-wrapper {
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .no-books-message {
    font-family: "Roboto";
  }
}
