<div class="card-wrapper">
  <div class="header-wrapper">
    <div class="row">
      <div class="col-md-8 col-7">
        <a
          [routerLink]="[
            '/books/catalog/details/' + catalog?.friendlyUrl + '/0'
          ]"
          class="card-link"
          *ngIf="!showCatalogName"
        >
          {{ catalog?.name }}
        </a>

        <form
          [formGroup]="editCatalogNameForm"
          (ngSubmit)="changeCatalogName()"
          *ngIf="showCatalogName"
        >
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8">
              <input
                type="text"
                class="form-control tiny"
                id="name"
                formControlName="name"
              />
              <span
                class="error-message"
                *ngIf="
                  !editCatalogNameForm.get('name').valid &&
                  editCatalogNameForm.get('name').touched
                "
              >
                This field is required
              </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <button
                class="button wite small"
                type="submit"
                [disabled]="!editCatalogNameForm.valid"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
      <div
        class="col-md-1 col-1"
        *ngIf="isCurrentUser && !showCatalogName"
        (click)="showChangeCatalogNameForm()"
      >
        <button
          class="button white small no-text"
          *ngIf="!isWantToReadCategory"
        >
          <i
            class="glyphicon glyphicon-pencil"
            (click)="showChangeCatalogNameForm()"
          ></i>
        </button>
      </div>
      <div class="col-md-3 col-4" *ngIf="isCurrentUser">
        <app-toggle-button
          [isChecked]="catalog.isPublic"
          (click)="editCatalog(catalog.id, catalog.isPublic)"
        ></app-toggle-button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div
        class="col-md-4 col-4"
        *ngFor="let item of catalog.books | slice: 0:6; let i = index"
      >
        <div class="book-thumbnail" ngif="item!=null||item!=undefined">
          <a [routerLink]="['/books/details', item?.friendlyUrl]">
            <img src="{{ item.photoPath }}" width="100%" />
          </a>
        </div>
      </div>
      <div class="col-md-4 col-4">
        <div class="book-thumbnail" *ngIf="bookCount == 5">
          <div class="book-thumbnail-more">
            <a
              [routerLink]="['/books/catalog/details', catalog?.friendlyUrl]"
              class="card-link see-more"
            >
              <div class="more-info-icon-wrapper">
                <i class="fas fa-angle-double-right"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="book-thumbnail" *ngIf="bookCount == 0">
        <p class="no-books-message">No books added</p>
      </div>
    </div>
  </div>
</div>
