@import "src/app/ui-style/variables.scss";

.card-wrapper {
  margin: 10px auto;
  border: 1px solid #868484;
  box-shadow: 1px 1px 1px #e2e0e0;
  border-radius: 5px;
  padding: 0 0 15px 0;

  &:hover {
    box-shadow: 1px 7px 10px 2px grey;
    transition: 0.3s;

    .card-link {
      background-color: black;
    }
  }
}

.card-link {
  padding: 5px 15px;
  display: block;
  color: $white;
  background-color: #3e3b3b;
  margin: 0 0 20px 0;

  &:hover {
    background-color: black;
    transition: 0.2s;
    color: $white;
  }
}

.book-thumbnail {
  margin: 5px;
}

.book-thumbnail-more {
  color: black;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
  font-size: 25px;

  &:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
    cursor: pointer;
  }

  .more-info-icon-wrapper {
    text-align: center;
    display: block;
  }

  .no-books-message {
    font-family: "Roboto";
  }
}
