<form [formGroup]="addToListForm" (ngSubmit)="onSubmit()">
  <div class="book-saver">
    <div class="header">
      <span> <strong>Add to catalog</strong></span>
      <a [routerLink]="['/books/catalog/add']" class="add-new-catalog">
        <i class="far fa-plus-square"></i> New
      </a>
    </div>
    <ul class="user-list">
      <li
        [ngClass]="
          catalog.isSelected === true
            ? 'user-list-item is-selected'
            : 'user-list-item not-selected'
        "
        *ngFor="let catalog of this.catalogs"
        (click)="
          catalog.isSelected
            ? removeFromCatalog(catalog.id)
            : addToCatalog(catalog.id)
        "
      >
        <span class="user-item-list-label">{{ catalog.name }}</span>

        <button class="user-item-list-add-button" *ngIf="!catalog?.isSelected">
          <span class="glyphicon glyphicon-plus"></span>
        </button>

        <button class="user-item-list-add-button" *ngIf="catalog?.isSelected">
          <span class="glyphicon glyphicon-minus"></span>
        </button>
      </li>
    </ul>
  </div>
</form>
