<form [formGroup]="addToListForm" (ngSubmit)="onSubmit()">
  <div class="book-saver">
    <strong>Add to catalog</strong>
    <ul class="user-list">
      <!-- <li>
        <div class="saver-container">
          <div class="catalog-item-wrapper">
            <input
              type="text"
              on-focus="onSaverFocus()"
              on-focusout="onSaverFocusOut()"
              (keyup)="onSaverFocus()"
              formControlName="bookSaverListItem"
              class="filter-catalog-input"
            />
          </div>
          <div class="button-wrapper">
            <button><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </div>
      </li> -->
      <li
        [ngClass]="
          catalog.isSelected === true
            ? 'user-list-item is-selected'
            : 'user-list-item not-selected'
        "
        *ngFor="let catalog of this.catalogs"
        (click)="
          catalog.isSelected
            ? removeFromCatalog(catalog.id)
            : addToCatalog(catalog.id)
        "
      >
        <span class="user-item-list-label">{{ catalog.name }}</span>

        <button class="user-item-list-add-button" *ngIf="!catalog?.isSelected">
          <span class="glyphicon glyphicon-plus"></span>
        </button>

        <button class="user-item-list-add-button" *ngIf="catalog?.isSelected">
          <span class="glyphicon glyphicon-minus"></span>
        </button>
      </li>
    </ul>
  </div>
</form>
