@import "src/app/ui-style/variables.scss";

.user-list {
  padding: 0;
  margin: 0;
}

.user-list li {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  font-size: 14px;

  &:hover {
    cursor: pointer;
    background-color: #eeeff0;
  }
}

.search-wrapper input {
  display: inline;
}

.user-list-item {
  display: flex;
}

.user-item-list-label {
  flex: 1;
}
.user-item-list-add-button {
  flex: 0;
}
