@import "src/app/ui-style/variables.scss";

.book-saver {
  width: 300px;
  padding: 10px 10px 0;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
  transform: translate(-50px, 20px);
  border-radius: 3px;
  background-color: white;
}

.book-saver:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-style: solid;
  border-width: 0px 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
}

.user-list {
  margin: 5px -10px 0;
  padding: 0;
  overflow: auto;
  max-height: 250px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.user-list li {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0.2s ease-out;
  }

  &:hover .user-item-list-add-button {
    background-color: transparent;
    color: black;
  }

  &.is-selected {
    font-weight: bold;
    background-color: #d7e2c2;
    color: #4e4d4d;
  }

  &.not-selected {
  }
}

.search-wrapper input {
  display: inline;
}

.user-list-item {
  display: flex;
}

.user-item-list-label {
  flex: 1;
}
.user-item-list-add-button {
  flex: 0;
  height: 100%;
  width: 50px;
  background-color: transparent;
  border-width: 0;
}

.saver-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item-wrapper {
  width: 100%;
}

.filter-catalog-input {
  width: 100%;
  padding: 8px;
}

.button-wrapper button {
  height: 100%;
  width: 50px;
  background-color: #fff2dd;
  color: #17a2b8;
  border-color: #fff2dd;
  border-width: 0;
}
