.user-container {
    background-image: url(https://images.pexels.com/photos/1484661/pexels-photo-1484661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: 95vh;
    background-position: center;
    opacity: 0.9;
    margin-top: -60px;
  }
