.discussion-row {
  border-radius: 5px;
  background-color: #efefef;
  margin: 15px 0;
  padding: 15px;
  word-wrap: break-word;
}

.discussion-reply {
  font-size: 16px;
}

.user-avatar {
  border-radius: 50%;
  max-width: 80px;
  margin: 0 auto 10px auto;
  text-align: center;
  display: block;

  &.small {
    display: inline;
    max-width: 40px;
  }
}

.posted-on-info {
  font-size: 12px;
  font-style: italic;
}

.username {
  font-size: 14px;
  display: block;
  text-align: center;
}

.reply-wrapper {
  margin-top: 80px;
}

.book-cover {
  width: 100%;
  margin: 0 auto;
}

.book-title {
  font-size: 16px;
  font-weight: bold;
}
.book-cover-image {
  text-align: left;
  display: block;
  max-width: 250px;
  margin-bottom: 40px;
}
