<div class="row">
  <div class="col-md-3">
    <div class="image-wrapper">
      <a
        [routerLink]="['/user/profile/edit-photo/', profile.friendlyUrl]"
        class="button default tiny full-width"
        *ngIf="isCurrentUser"
      >
        <i class="glyphicon glyphicon-pencil"></i>
        Edit Photo
      </a>
      <img
        class="card-img-top"
        src="{{ profile?.avatarPath }}"
        alt="{{ profile?.knownAs }}"
      />

      <a
        [routerLink]="['/user/profile/edit/', profile.friendlyUrl]"
        class="button default tiny full-width"
        *ngIf="isCurrentUser"
      >
        <i class="glyphicon glyphicon-pencil"></i>
        Edit Profile
      </a>
    </div>
  </div>
  <div class="col-md-9">
    <h4 class="card-title">{{ profile?.knownAs }}</h4>
    <p
      class="location-info"
      *ngIf="profile.country != null && profile.city != null"
    >
      <i class="glyphicon glyphicon-map-marker"></i>
      {{ profile?.city
      }}<span *ngIf="profile.country != null">, {{ profile?.country }} </span>
    </p>
    <div class="card-text" *ngIf="profile?.introduction">
      <p class="introduction">
        {{ profile?.introduction }}
      </p>
    </div>

    <div class="row">
      <div class="col-md-6" *ngIf="!isCurrentUser">
        <button
          type="button"
          class="button positive medium"
          *ngIf="!isCurrentUser && !isFollowing"
          (click)="followUser(profile?.id)"
        >
          <span class="glyphicon glyphicon-plus"></span>
          Follow
        </button>

        <button
          type="button"
          class="button primary medium"
          *ngIf="!isCurrentUser && isFollowing"
          (click)="unFollowUser(profile?.id)"
        >
          <span class="glyphicon glyphicon-minus"></span>
          Unfollow
        </button>
      </div>
      <div class="col-md-6">
        <a
          [routerLink]="['/books/catalog/add']"
          class="button positive medium full-width"
          *ngIf="isCurrentUser"
        >
          <i class="fas fa-folder-plus"></i> Add Catalog
        </a>
      </div>
      <div class="col-md-6">
        <a
          [routerLink]="['/books/add']"
          class="button neutral medium full-width"
          *ngIf="isCurrentUser"
        >
          <i class="fas fa-plus-circle"></i>
          Add Book
        </a>
      </div>
    </div>
  </div>
</div>
