.book-cover-image {
  width: 100%;
}

.location-info {
  font-size: 16px;
}

.introduction {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .image-wrapper {
    margin: 0 auto;
    text-align: center;
    max-width: 250px;
  }

  .add-to-catalog {
    margin-bottom: 15px;
  }

  .user-info {
    text-align: center;
    margin-top: 30px;
  }
}
