<div class="card profile-card">
  <div class="image-wrapper">
    <img
      class="card-img-top"
      src="{{ profile?.avatarPath }}"
      alt="{{ profile?.knownAs }}"
    />

    <a
      [routerLink]="['/user/profile/edit-photo/', profile.friendlyUrl]"
      class="btn btn-info btn-block"
      *ngIf="isCurrentUser"
    >
      <i class="glyphicon glyphicon-pencil"></i>
      Edit Photo
    </a>
  </div>

  <div class="card-body">
    <h4 class="card-title">{{ profile?.knownAs }}</h4>
    <p
      class="location-info"
      *ngIf="profile.country != null && profile.city != null"
    >
      <i class="glyphicon glyphicon-map-marker"></i>
      {{ profile?.city
      }}<span *ngIf="profile.country != null">, {{ profile?.country }} </span>
    </p>

    <div class="card-text" *ngIf="profile?.introduction">
      <p class="introduction">
        {{ profile?.introduction }}
      </p>
    </div>
    <button type="button" class="btn btn-info btn-block" *ngIf="!isCurrentUser">
      <span class="glyphicon glyphicon-plus"></span>
      Follow
    </button>

    <a
      [routerLink]="['/user/profile/edit/', profile.friendlyUrl]"
      class="btn btn-outline-info btn-block"
      *ngIf="isCurrentUser"
    >
      <i class="glyphicon glyphicon-pencil"></i>
      Edit Profile
    </a>
  </div>
</div>
